export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
export XIM=fcitx
export XIM_PROGRAM=fcitx
#jgsettings set \
#j org.gnome.settings-daemon.plugins.xsettings overrides \
#j "{'Gtk/IMModule':<'fcitx'>}"
